/* Styling to dim the backdrop */
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.creation {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.reviews {
  width: 80%;
  margin: 0 auto;
  .panel-heading {
    &:hover {
      background: black;
      color: white;
      cursor: pointer;
    }
  }
}

.modal-body {
  padding: 5% 35%;
  input {
    padding: 1%;
    margin-bottom: 5%;
    outline: none;
    border-radius: 8px;
  }
}
