<!DOCTYPE html>
<html lang="en" ng-app="angularStrAPP">
<head>
  <meta charset="UTF-8">
  <title>AngularStrap</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- AngularStraps custom css -->
  <link rel="stylesheet" href="http://mgcrea.github.io/angular-strap/styles/libs.min.css">
  <link rel="stylesheet" href="http://mgcrea.github.io/angular-strap/styles/docs.min.css">
  <!-- END AngularStrap custom css -->
  <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="MainCtrl as app">

  <header class="jumbotron">
    <h1>Submit Your Review of the new Robot 1x</h1>
    <button class="btn hamburger" data-template-url="app/aside/aside.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
  </header>

  <section class="mainContent container-fluid">
    <div class="creation">
      <img src="https://gbatemp.net/data/avatars/l/353/353855.jpg?1410417526" alt="">
      <!-- <button class="btn btn-success" ng-click="app.showModal()">Create a New Review</button> -->
      <!-- You can use a custom html template with the `data-template` attr -->
      <button type="button" class="btn btn-success" data-template-url="app/modal/template.html" bs-modal="modal">Create a New Review
      </button>
    </div>

    <div class="reviews">
      <h3 ng-show="app.panels.length > 0">Past Reviews</h3>
      <div class="panel-group" ng-model="app.panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
        <div class="panel panel-default" ng-repeat="panel in app.panels track by $index">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title" bs-collapse-toggle>
                {{ panel.subject }}
                <span class="glyphicon glyphicon-trash" ng-click="app.deleteReview($index)"></span>
            </h4>
          </div>
          <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body">
              {{ panel.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
  <script src="app/app.js"></script>
</body>
</html>
